.top-header {
  margin: 32px 0;
  width: 70%;
  .main-title {
    text-align: center;
  }
}
.single-art-work-wrapper {
  margin-bottom: 24px;
}

.pagination-wrapper {
  display: flex;
  justify-content: center;
  margin: 32px;
}

.spinner-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.virtual-scroll-viewport {
  height: 75vh;
  width: 100%;
  overflow-y: auto;
}

.dense-grid {
  padding: 16px;
}
