<div nxLayout="grid" class="top-header">
  <h1 class="main-title">Art Collection</h1>
  <div nxRow>
    <div nxCol="6">
      <nx-formfield nxLabel="Filter">
        <nx-multi-select
          placeholder="Style"
          [options]="styleTitleOptions"
          [(ngModel)]="modelWithFilter"
          (ngModelChange)="onStyleFilterChange($event)"
          [selectLabel]="selectLabel"
          [selectValue]="selectValue"
        ></nx-multi-select>
      </nx-formfield>
    </div>
    <div nxCol="6">
      <nx-formfield nxLabel="Sort by">
        <nx-dropdown
          (selectionChange)="onChangeSortBy($event)">
          <nx-dropdown-item
            *ngFor="let option of sortOptions"
            [nxValue]="option"
          ></nx-dropdown-item>
        </nx-dropdown>
      </nx-formfield>
    </div>
  </div>
</div>
<div nxLayout="grid" *ngIf="!isDataLoading">
  <div nxRow *ngIf="artWorks.length">
    <ng-container *ngIf="!isFilter">
      <div nxCol="3" *ngFor="let artWork of artWorks" class="single-art-work-wrapper">
        <art-work-card
          [artWork]="artWork"
          [iiifUrl]="iiifUrl">
        </art-work-card>
      </div>
    </ng-container>
    <ng-container *ngIf="isFilter">
      <div nxCol="3" *ngFor="let artWork of isFilteredArtWorks" class="single-art-work-wrapper">
        <art-work-card
          [artWork]="artWork"
          [iiifUrl]="iiifUrl">
        </art-work-card>
      </div>
    </ng-container>
  </div>
</div>

<div class="pagination-wrapper">
  <nx-pagination
    [nxCount]="count"
    [nxPage]="page"
    [nxPerPage]="perPage"
    nxType="advanced"
    (nxGoPrev)="prevPage()"
    (nxGoNext)="nextPage()"
    (nxGoPage)="goToPage($event)"
  >
  </nx-pagination>
</div>

<div class="spinner-wrapper" *ngIf="isDataLoading">
  <nx-spinner nxSize="large"></nx-spinner>
</div>
