<h1>Art Collection</h1>
<div nxLayout="grid" *ngIf="!isDataLoading">
  <div nxRow *ngIf="artWorks.length">
    <div nxCol="3" *ngFor="let artWork of artWorks" class="single-art-work-wrapper">
      <art-work-card [artWork]="artWork"></art-work-card>
    </div>
  </div>
</div>

<div class="pagination-wrapper">
  <nx-pagination
    [nxCount]="count"
    [nxPage]="page"
    [nxPerPage]="perPage"
    nxType="advanced"
    (nxGoPrev)="prevPage()"
    (nxGoNext)="nextPage()"
    (nxGoPage)="goToPage($event)"
  >
  </nx-pagination>
</div>

<div class="spinner-wrapper" *ngIf="isDataLoading">
  <nx-spinner nxSize="large"></nx-spinner>
</div>
