<div class="top-header">
  <h1 class="main-title">Art Collection</h1>
  <div class="controls-row">
    <mat-form-field appearance="fill">
      <mat-label>Filter by Style</mat-label>
      <mat-select multiple [(ngModel)]="modelWithFilter" (ngModelChange)="onStyleFilterChange($event)">
        <mat-option *ngFor="let option of styleTitleOptions" [value]="option.styleTitle">
          {{ option.styleTitle }} ({{ option.numberOfItem }})
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Sort by</mat-label>
      <mat-select (selectionChange)="onChangeSortBy($event)">
        <mat-option *ngFor="let option of sortOptions" [value]="option">{{ option }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>

<div class="artwork-grid" *ngIf="!isDataLoading && artWorks.length">
  <ng-container *ngIf="!isFilter">
    <art-work-card
      *ngFor="let artWork of artWorks"
      [artWork]="artWork"
      [iiifUrl]="iiifUrl">
    </art-work-card>
  </ng-container>
  <ng-container *ngIf="isFilter">
    <art-work-card
      *ngFor="let artWork of isFilteredArtWorks"
      [artWork]="artWork"
      [iiifUrl]="iiifUrl">
    </art-work-card>
  </ng-container>
</div>

<div class="pagination-wrapper">
  <mat-paginator
    [length]="count"
    [pageIndex]="page - 1"
    [pageSize]="perPage"
    [pageSizeOptions]="[8, 16, 24]"
    (page)="onPageChange($event)">
  </mat-paginator>
</div>

<div class="spinner-wrapper" *ngIf="isDataLoading">
  <mat-progress-spinner mode="indeterminate" diameter="60"></mat-progress-spinner>
</div>
